<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.en_chu.calculator_api_spring.mapper.CalculationMapper">

	<insert id="insertRecord"
		parameterType="com.en_chu.calculator_api_spring.model.CompoundInterestReq">
        <![CDATA[
            INSERT INTO calculation_records (
                principal, 
                rate, 
                years, 
                result, 
                created_at
            ) VALUES (
                #{principal}, 
                #{rate}, 
                #{years}, 
                #{result}, 
                CURRENT_TIMESTAMP
            )
        ]]>
    </insert>

	<select id="findAllRecords"
		resultType="com.en_chu.calculator_api_spring.model.CompoundInterestReq">
        <![CDATA[
            SELECT 
                id,
                principal, 
                rate, 
                years, 
                result,
                created_at
            FROM calculation_records
            ORDER BY created_at DESC
        ]]>
    </select>

</mapper>