<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.en_chu.calculator_api_spring.mapper.UserProfileMapper">

	<update id="updateByUid">
    <![CDATA[
        UPDATE user_profiles 
        SET 
            birth_date = #{birthDate},
            gender = #{gender},
            current_age = #{currentAge},
            life_expectancy = #{lifeExpectancy},
            marriage_year = #{marriageYear},
            career_insurance_type = #{careerInsuranceType},
            biography = #{biography},
            updated_at = CURRENT_TIMESTAMP
        WHERE 
            firebase_uid = #{firebaseUid}
    ]]>
    </update>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO user_profiles (
            firebase_uid, 
            birth_date, 
            gender, 
            current_age, 
            life_expectancy, 
            marriage_year, 
            career_insurance_type, 
            biography,
            created_at, 
            updated_at
        ) VALUES (
            #{firebaseUid},
            #{birthDate}, 
            #{gender}, 
            #{currentAge}, 
            #{lifeExpectancy}, 
            #{marriageYear}, 
            #{careerInsuranceType}, 
            #{biography},
            CURRENT_TIMESTAMP, 
            CURRENT_TIMESTAMP
        )
    ]]>
    </insert>

	<select id="selectByUid"
		resultType="com.en_chu.calculator_api_spring.entity.UserProfile">
    <![CDATA[
        SELECT * FROM user_profiles WHERE firebase_uid = #{firebaseUid}
    ]]>
    </select>

</mapper>