<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.en_chu.calculator_api_spring.mapper.UserRetirementMapper">

    <resultMap id="BaseResultMap" type="com.en_chu.calculator_api_spring.entity.UserRetirement">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="firebase_uid" property="firebaseUid" jdbcType="VARCHAR"/>
        
        <result column="household_type" property="householdType" jdbcType="VARCHAR"/>
        
        <result column="housing_mode" property="housingMode" jdbcType="VARCHAR"/>
        <result column="housing_cost" property="housingCost" jdbcType="NUMERIC"/>
        
        <result column="health_tier_code" property="healthTierCode" jdbcType="VARCHAR"/>
        <result column="health_cost" property="healthCost" jdbcType="NUMERIC"/>
        
        <result column="active_living_code" property="activeLivingCode" jdbcType="VARCHAR"/>
        <result column="active_living_cost" property="activeLivingCost" jdbcType="NUMERIC"/>
        
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, firebase_uid, 
        household_type,
        housing_mode, housing_cost,
        health_tier_code, health_cost,
        active_living_code, active_living_cost,
        created_at, updated_at
    </sql>

    <update id="updateByUid">
    <![CDATA[
        UPDATE user_retirements 
        SET 
            household_type = #{householdType},
            
            housing_mode = #{housingMode},
            housing_cost = #{housingCost},
            
            health_tier_code = #{healthTierCode},
            health_cost = #{healthCost},
            
            active_living_code = #{activeLivingCode},
            active_living_cost = #{activeLivingCost},
            
            updated_at = CURRENT_TIMESTAMP
        WHERE 
            firebase_uid = #{firebaseUid}
    ]]>
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO user_retirements (
            firebase_uid, 
            household_type,
            housing_mode, housing_cost,
            health_tier_code, health_cost,
            active_living_code, active_living_cost,
            created_at, updated_at
        ) VALUES (
            #{firebaseUid},
            #{householdType},
            #{housingMode}, #{housingCost},
            #{healthTierCode}, #{healthCost},
            #{activeLivingCode}, #{activeLivingCost},
            CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
        )
    ]]>
    </insert>
    
    <update id="updateSelectiveByUid">
        UPDATE user_retirements
        <set>
            <if test="householdType != null">household_type = #{householdType},</if>
            
            <if test="housingMode != null">housing_mode = #{housingMode},</if>
            <if test="housingCost != null">housing_cost = #{housingCost},</if>
            
            <if test="healthTierCode != null">health_tier_code = #{healthTierCode},</if>
            <if test="healthCost != null">health_cost = #{healthCost},</if>
            
            <if test="activeLivingCode != null">active_living_code = #{activeLivingCode},</if>
            <if test="activeLivingCost != null">active_living_cost = #{activeLivingCost},</if>
            
            updated_at = CURRENT_TIMESTAMP
        </set>
        WHERE firebase_uid = #{firebaseUid}
    </update>

    <select id="selectByUid" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List" />
        FROM user_retirements 
        WHERE firebase_uid = #{firebaseUid}
    </select>

</mapper>